table,
th,
td,
tr {
  border: 1px solid black;
  margin-left: auto;
}

tr:nth-child(even) {
  background-color: lightgray;
}

td {
  width: 200px;
}

img {
  float: right;
}
.tab {
  float: right;
}
a:hover {
  background-color: yellow;
}

.changeWord {
  color: red;
  font-weight: bold;
}

.titleText {
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}
